<!-- <h1>User Show</h1>

<div style="float:left; padding-left:50px;">
<strong>Id:</strong> <%= @user.id %><br />
<strong>Email:</strong> <%= @user.email %><br />


<%= link_to "Edit User", edit_user_path(@user) %>
<%= link_to "Delete User", user_path(@user), method: :delete %>
</div>


 -->

  <% @infos.each do |info| %> 
          <div style="height:75px; width:75px; padding: 5px; top:0; float:left;"> <%= image_tag info['icon_url_fullxfull'], style: "width:100%; height:100%; border-radius:50%;" %> </div>
           <% end %>


 <div class="frame">
      <div class="wrapper">
  <div class="sections" style="width:100%;">
    <ul>

<!-- user section path -->




    <% @sections.each do |section| %>
      <li><%= link_to section['title'], user_section_path(@user, format: section["shop_section_id"]) %></li>
    <% end %>
  </div>

 <div class="grid">
       <div class="index-picture grid-item">

        <% @items.each do |item| %>
    <div class="grid-item">
      <div class="listinginfo">
<!--         <div class="listinginfo bit-4"> -->
        <ul>

         <li><%= image_tag item["MainImage"]["url_570xN"] %></li> 
          <li>$<%= item['price']  %></li>
          <li><%= item['title'] %></li>
          <li><%= link_to 'Show', user_listing_path(@user, format: item["listing_id"]) %></li>
        </ul>
      </div>
    </div>

      <% end %>
    
  </div>
    </div>

<div class="pages">
    <ul>
    <li><%=link_to @page['effective_page'], user_path(@user, format: "limit=" + @page['effective_limit'].to_s + 
    "&offset=" + @page['effective_offset'].to_s) %></li>
    <li><%=link_to @page['next_page'], user_path(@user, format: "limit=" + @page['effective_limit'].to_s + 
    "&offset=" + @page['next_offset'].to_s) %>  </li> 
  </ul>
</div>


</div>



<script>

// $('.mobile-nav-wrap').hide();
$('.js-toggle-menu').click(function(e){
  e.preventDefault();
  $(this).toggleClass('open');
  $('.page-wrap').toggleClass('disabled');
  $('body').toggleClass('disabled');
});
$('.search-menu-toggle').click(function(){
  $(this).toggleClass("on");
  $('.search').slideToggle();
});

var $grid = jQuery('.grid');

$(".grid").imagesLoaded(function(){

  $('.grid').isotope({
    itemSelector: '.grid-item',
    masonry: {
      columnWidth: 310
    }
  });

  $grid.isotope('reloadItems');
});

</script>
